.color-me-red {
    color: red;
}

/*.card-columns{*/
/*@include media-breakpoint-only(xs) {*/
/*    column-count: 1;*/
/*}*/
/*@include media-breakpoint-only(sm) {*/
/*    column-count: 2;*/
/*}*/
/*@include media-breakpoint-only(md) {*/
/*    column-count: 3;*/
/*}*/
/*@include media-breakpoint-only(lg) {*/
/*    column-count: 4;*/
/*}*/
/*@include media-breakpoint-only(xl) {*/
/*    column-count: 6;*/
/*}*/
/*}*/

.my-controls-at-top-right {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

.card-style{
    width: 15rem;
    margin: 2%;
}



